[submodule "shell/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = she;;/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/oh-my-zsh/custom/plugins/zsh-autocomplete"]
	path = shell/oh-my-zsh/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
